body, html{
	padding:0;
	margin:0;
	height:100%;
	width: 100%;
	background: Azure;

}


ul{
	list-style: none;
	display:inline-block;
	padding:0;


}

ul li{
	height:20px;
	margin: 0;
	padding:0;
	float:left;
}

ul li a{
	text-decoration: none;
	color: #d6d6d6;
	font-size:12px;
	line-height: 20px;
	padding:0 16px;
}

/*img{
	max-width: 60%;
	max-height: 60%;
}*/


.container{
	width:70%;
	margin: 0 auto;
	
}
.brand-img{
	background-image:url("https://cdn.lolchess.gg/images/common/bg_gnb_tft_03.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;

}


.main{
	background-color:#FAEBD7;
}


.family-sites{
	background-color:#3a3f4c;
}

.nav{
	/*background-color:#3a3f4c;*/
	height:50px;
	background: rgba(0, 0, 0, 0.49);
}

.brand-name{
	height:100px;
	display:inline-block;
/*	padding-left: 16%;
	padding-top:5%;
	padding-bottom:5%;*/
}

.brand-name img{
	width:170px;
	height:150px;
	padding-top:-4%;
	padding-left: 25%;
}




.search-tool{
	float:right;
	padding-right: 10%;
	padding-top:5%;
	padding-bottom:5%;

}



.search{
	background-image:url("https://cdn.lolchess.gg/images/frontpage/img-mainbg.jpg");
	background-repeat: no-repeat;
	height:400px;
	background-position: center;

}

.search-main{
	text-align: center;
	padding-top:150px;
}

/*.footer{
	background-color: #3a3f4c;
	height:30%;
	width: 100%;
	float:left;
	display: inline-block;
}*/

/*.brand-footer{
	width: 160px;
}*/




/*.nav-footer {float:left;}*/


.footer{
	/*height:12%;*/
	height:110px;
	width:100%;
	background-color: #3a3f4c;
}

.content-footer {

	float:left;
	position:relative;
}

.left {
	height:16%;
	width: 16%;
	display: inline-block;

	/*background-color: blue;*/


}

.logo-footer{

	/*width: 60%;*/
	width:140px;
	height:auto;
	margin-top:-3%;
	margin-left:-20%;
	position:relative;


}

.right{
	width: 84%;
}

.nav-footer ul{
	margin:0  auto;
	padding-top:2%;
	padding-left:-5%;
	margin-left:-14px;
}

.nav-footer{
	padding-left:-5%;
}

.nav-footer ul li a{

	font-size:20px;
}

.inquiries{
	height:30%;
	color: white;

}

.inquiries a{
	font-size:24px;
	color: green;

}



/*

.left img{

	width: 20%;
	height:20%;

	display: inline-block;
}


.right{
	width: 80%;
	height:40%;

	float:right;
	display: inline-block;
}

.nav-footer{
	height:70%;
	float:left;
}


.nav-footer ul li{
	padding-top:5%;
}

.nav-footer ul li a{
	line-height: 100%;
	font-size:16px;
}

.inquries{
	height:30%;
	float:none;
	margin-top:10%;
	color: Azure;
	font-size:13px;
}

.inquiries a{
	color: BurlyWood;
	height:30%;
	float:none;

}


*/